[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "external/libretro-common"]
	path = external/libretro-common
	url = https://github.com/libretro/libretro-common
[submodule "external/vulkan-headers"]
	path = external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "external/rcheevos"]
	path = external/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
